{% extends "overrides/main.html" %}

<!-- Content -->
{% block content %}

  {% if page.meta.menu and page.meta.section %}

    <h1>{{ page.meta.title }}</h1>

    <img class="whirl" src="{{ config.theme.category_illustraton | url }}" alt="efx whirl web">
    
    {% else %}
        
    {% include "overrides/partials/content.html" %}

  {% endif %}

  {% if page.meta.menu %}

    <div class="grid cards">

      <ul>

        {% if page.meta.section and page.meta.menu %}
        
          {% set section = page.meta.menu %}
          {% set theme = page.meta.section %}

          {% if config.extra.navIcons[section] and config.extra.navIcons[section][theme] %}

            {% for url, icon in config.extra.navIcons[section][theme].items() %}
              <li>
                <a class="grid-cards--link" href="{{ url }}">
                  <div class="grid-cards--icon twemoji scale3">
                    {% include ".icons/"+icon.split('-')[0]+"/"+icon.split("-",1)[1]+".svg" %}
                  </div>
                  <div class="grid-cards--content">
                    <span>{{ url.replace("-", " ").title() }}</span>
                    <span class="twemoji">
                      {% include ".icons/fontawesome/solid/arrow-right.svg" %}
                    </span>
                  </div>
                </a>
              </li>
            {% endfor %}

          {% else %}
          
            {% set section = page.meta.menu %}
            {% set theme = page.meta.section %}
            {% for nav_item in nav %}
              {% if section in nav_item.title %}
                  {% if nav_item.active %}
                    {% for child in nav_item.children %}
                      {% if theme in child.title  %}
                        {% for page in child.children %}
                          {% if not page.is_index %}
                            <li>
                              <a class="grid-cards--link" href="{{ page.url.split('/')[-2] }}">
                                <div class="grid-cards--icon twemoji scale3">
                                  {% include ".icons/octicons/markdown-16.svg" %}
                                </div>
                                <div class="grid-cards--content">
                                  <span>{{ page.title.title() }}</span>
                                  <span class="twemoji">
                                    {% include ".icons/fontawesome/solid/arrow-right.svg" %}
                                  </span>
                                </div>
                              </a>
                            </li>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endif %}
        </ul>

      </div>
  
  {% endif %}
      



<!--
  {% include "overrides/partials/content.html" %}
--> 

{% endblock %}

<!-- Application footer -->
{% block footer %}{% endblock %}
